.container {
  
 margin: 40px auto;
  padding: 20px !important;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black
    url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png") !important;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border: 4px solid #ab0303 !important;
}

.ProfilePic {
  width: 140px !important;
  height: 140px !important;
  border: 2px solid black;
  border-radius: 50%;
  margin: 15px auto;
  display: block;
  object-fit: cover;
}

.profileName {
  font-size: 45px;
}

.profileInfo {
  max-width: 100%;

  font-size: 20px;
  padding: 20px 10px;
}

.PicContainer {
   background: #ab0303
    url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: #fff;
  border-radius: 20px 20px 0 0;
  text-align: center;
  padding: 40px 0;
  width: 100%;
  border: 1px solid white;
  
}

.fitnessInfo {
  border: 2px solid #ab0303;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding: 15px 20px;
  cursor: pointer;
  width: 100%;
  max-width: 550px;
  background-color: white;
  font-size: 20px;
  line-height: 1.6;
  box-sizing: border-box;
  color: black;
}

.contactInfo,
.PhysicalStats,
.fitnessProfile {
  align-self: flex-start;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 20px;
  text-decoration: underline #ab0303;
  color: white;
}

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 600px !important;
  }
  .profileInfo {
    width: 600px;
    max-width: 100%;
    overflow: hidden;
  }
  .ProfilePic {
    width: 200px !important;
    height: 200px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 660px !important;
    font-size: 20px;
  }
  .profileInfo {
    width: 650px;
    max-width: 100%;
    overflow: hidden;
  }
  .ProfilePic {
    width: 240px !important;
    height: 240px !important;
  }
}
