
.App{display: flex;
}
.DropDownContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    min-height: 5vh;
    top: 20px 
    right: 10px 
    width:100%;
    box-sizing:border-box;
}

.DropDownButton {
    position: fixed !important;
  top: 15px !important;
  right: 15px !important;
 z-index: 1000;
  transform:scale(1.2);

}



.List {
  z-index: 1000;
  position: fixed !important;
    top: 60px !important;
    right: 20px !important;
    line-height:1.6;
    cursor: pointer;
    list-style: none;
    border: 1px solid black;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
border-radius: 5px;
padding: 20px;
font-size: 15px;
box-shadow: 2px 3px 5px;
border-style: none;
background-color: white;
transform:scale(1.2);
box-sizing:border-box;
 }


/* Responsive Design */
@media (min-width: 768px) {
  .DropDownContainer{max-width: 500px;}
 
  .DropDownButton {
   
    top: 15px !important;
    right: 15px !important;
    
  }

  

  .List {
   max-width:200px;
    line-height:1.6;
    font-size:18px;
    
 }
}

@media (min-width: 1200px) {
  .DropDownContainer{max-width:600px;}
  
  .DropDownButton {
   
    top: 15px !important;
    right: 15px !important;
    
  }

  

  .List {
    max-width:300px;
    line-height:1.6;
    font-size:20px;
 }
  }

