body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  background-repeat: repeat;
  background-position: center;
}

.profileContainer {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 20px;
  background-color: white;
  width: 80%;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
}

.profileInput {
  border-radius: 30px;
  border: 2px solid #ddd;
  padding: 12px 20px;
  margin-top: 15px;
  width: 100%;
  max-width: 470px;
  box-sizing: border-box;
  font-size: 16px;
}

.profileButton {
  margin-top: 20px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 25px;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: white;
  background-color: #ab0303;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 470px;
}

.profileButton:hover {
  background-color: rgb(88, 3, 3);
  color: black;
}

.profileH2 {
  padding: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 10px;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.3);
  background-image: url("/images/pexels-taryn-elliott-4099236.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

@media (max-width: 767px) {
  .profileContainer {
    max-width: 95%;
    padding: 15px;
  }

  .profileInput {
    font-size: 14px;
  }

  .profileButton {
    font-size: 14px;
  }

  .profileH2 {
    padding: 20px;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .profileContainer {
    max-width: 600px;
  }

  .profileInput {
    font-size: 18px;
  }

  .profileButton {
    font-size: 18px;
  }

  .profileH2 {
    padding: 40px;
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .profileContainer {
    max-width: 650px;
  }

  .profileInput {
    font-size: 20px;
  }

  .profileButton {
    font-size: 20px;
  }

  .profileH2 {
    padding: 60px;
    font-size: 28px;
  }
}