

.timer {
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 24px;
}

.timerStart {
  margin: 3px;
  border: none;
  background: none;
  display: inline;
  cursor: pointer;
}

.timerReset {
  margin: 3px;
  border: none;
  background: none;
  display: inline;
  cursor: pointer;
}
.buttonWrap {
  display: flex;
}

@media (min-width: 768px) {
  .timer {
    margin-left: 45px;
    font-size: 26px;
  }
}

@media (min-width: 900px) {
  .timer {
    font-size: 30px;
    margin-left: 46px;
  }
}
